.EducationRoot {
  width: 100vw;
  height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;

  background-color: #39030375;
  padding: 3vh 0;
  width: 100%;

    --s: 50px; /* control the size */
    --c1: #1d1d1d;
    --c2: #4e4f51;
    --c3: #3c3c3c;
    
    background:
      repeating-conic-gradient(from 30deg,#0000 0 120deg,var(--c3) 0 180deg) 
       calc(.5*var(--s)) calc(.5*var(--s)*0.577),
      repeating-conic-gradient(from 30deg,var(--c1) 0 60deg,var(--c2) 0 120deg,var(--c3) 0 180deg);
    background-size: var(--s) calc(var(--s)*0.577);
}

.EducationTitleContainer{
  transform: skew(-14deg);
  background-color: #031739;
  margin: 0 2vw;
}

.EducationTitle {
  font-size: 3.5vw;
  transform: skew(7deg);
  color: white;
  margin-left: 2vw;
  font-weight: 500;
  /* text-shadow: 0 0 0.4vw white; */
  padding: 0.5vh 0;
}
