.cameraUIRoot {
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  z-index: 1;

  display: flex;
  justify-content: center;
  align-items: center;
}

.cameraUIContainer {
  position: relative;
  width: calc(100% - 10rem);
  height: calc(100% - 10rem);
  top: 0;
  left: 0;
  background-color: transparent;

  -moz-user-select: -moz-none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  pointer-events: none;
}

.UIanim {
  animation: initiation 3s ease-in-out;
}

@keyframes initiation {
  0% {
    width: 0%;
    height: 0%;
  }
  35% {
    width: 25%;
    height: 25%;
  }
  70% {
    width: 25%;
    height: 25%;
  }
  100% {
    width: calc(100% - 10rem);
    height: calc(100% - 10rem);
  }
}

.cameraUIMainContainer {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  transform: translateY(-2.5rem);

  color: white;
}

.mainAnim {
  animation: initiationMainUI 3s ease-in-out 0s forwards;
}

@keyframes initiationMainUI {
  0% {
    top: 1vh;
  }

  70% {
    top: 1vh;
  }
  100% {
    top: 0;
  }
}

.MainNameText {
  display: inline;
  font-size: 3rem;
}

.MainSection {
  position: relative;
  display: inline;
  width: 5rem;
  height: 9rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.MainSectionDefault {
  width: 35rem;
  height: 9rem;
}

.MainSectionAnim {
  animation: initiationTitle 1.5s ease-in-out 3s forwards;
}

@keyframes initiationTitle {
  0% {
    width: 5rem;
    height: 9rem;
  }
  100% {
    width: 35rem;
    height: 9rem;
  }
}

.MainSectionBackground {
  width: calc(100% - 2rem);
  height: calc(100% - 2rem);
  /* background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.495)); */
  /* background: linear-gradient(rgba(0, 0, 0, 0.184), rgba(0, 0, 0, 0.709)); */
  z-index: -1;

  display: flex;
  justify-content: center;
  align-items: center;

  font-weight: 500;
  font-size: 5.2rem;
  font-family: "Roboto", sans-serif;
}

.MainSectionText {
  text-shadow: 0.2rem 0.2rem 1rem rgba(0, 0, 0, 0.133);
  display: inline;
}

.cameraUITopRightContainer {
  position: absolute;
  width: 100%;
  top: 2rem;
  right: 0;

  display: flex;
  justify-content: center;
  align-items: end;
  flex-direction: column;

  margin-right: 3rem;

  color: rgba(255, 255, 255, 0.888);
  font-size: 2.5rem;
}

.cameraUIBottomLeftContainer {
  position: absolute;
  width: 100%;
  bottom: 2.5rem;
  left: 0;

  display: flex;
  justify-content: center;
  align-items: start;
  flex-direction: column;

  margin-left: 3rem;

  color: rgba(255, 255, 255, 0.867);
  font-size: 2.5rem;
}

.typingWrapping1,
.typingWrapping2 {
  overflow: hidden;
  width: 0;
}

.typingWrapping1 p,
.typingWrapping2 p {
  white-space: nowrap;
}

.typingWrapping1 {
  animation: typing 0.45s steps(30, end) forwards;
  animation-delay: 0.9s;
}

.typingWrapping2 {
  animation: blink 0.125s 3 forwards;
  animation-delay: 1.7s;
  opacity: 0;
  width: 100%;
}

@keyframes typing {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}

@keyframes blink {
  0% {
    opacity: 0;
  }
  49.5% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}

.fadeInAnim{
  animation: fadeIn 0.3s forwards;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}