.ButtonsContainer {
  position: fixed;
  /* width: 30vw; */
  height: 34%;
  top: 33%;
  left: 1vmin;
  z-index: 102;

  gap: 2rem;

  display: flex;
  justify-content: center;
  align-items: start;
  flex-direction: column;

  transition: transform 0.4s;
  animation: init 0.3s forwards;

  -moz-user-select: -moz-none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  pointer-events: none;

  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 7.5vh;
  padding: 0 0.5vmin;
}

@keyframes init {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.OpenNavButton {
  width: max(7vmin, 4rem);
  height: max(7vmin, 4rem);
  cursor: pointer;
  transition: transform 0.4s;
  background-color: transparent;
  border: none;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;

  -moz-user-select: -moz-all;
  -khtml-user-select: all;
  -webkit-user-select: all;
  -ms-user-select: all;
  user-select: all;
  pointer-events: all;
}

.SettingsIcon {
  width: 80%;
  height: 80%;
}

.TopLeft,
.TopRight,
.BottomLeft,
.BottomRight {
  position: absolute;
  transition: width 0.3s, height 0.3s;
}

.OpenNavButton:hover .TopLeft {
  transform: translate(-0.2rem, -0.2rem);
}
.OpenNavButton:hover .TopRight {
  transform: translate(0.2rem, -0.2rem);
}
.OpenNavButton:hover .BottomLeft {
  transform: translate(-0.2rem, 0.2rem);
}
.OpenNavButton:hover .BottomRight {
  transform: translate(0.2rem, 0.2rem);
}

.TopLeft {
  top: 0;
  left: 0;
  border-top: 0.25rem solid rgb(255, 255, 255);
  border-left: 0.25rem solid rgb(255, 255, 255);
}

.TopRight {
  top: 0;
  right: 0;
  border-top: 0.25rem solid rgb(255, 255, 255);
  border-right: 0.25rem solid rgb(255, 255, 255);
}

.BottomLeft {
  bottom: 0;
  left: 0;
  border-bottom: 0.25rem solid rgb(255, 255, 255);
  border-left: 0.25rem solid rgb(255, 255, 255);
}

.BottomRight {
  bottom: 0;
  right: 0;
  border-bottom: 0.25rem solid rgb(255, 255, 255);
  border-right: 0.25rem solid rgb(255, 255, 255);
}
