.sideButtonsRoot {
  position: fixed;
  height: 100%;
  top: 0;
  right: calc(5vmin - 1rem);
  z-index: 9;

  display: flex;
  justify-content: center;
  align-items: end;
  flex-direction: column;

  animation: init 0.3s forwards;

  -moz-user-select: -moz-none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  pointer-events: none;
}
@keyframes init {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.sectionButtonBorder {
  width: 2rem;
  height: 2rem;
  border-radius: 2rem;
  border: 2px solid rgba(255, 255, 255, 0.649);

  display: flex;
  justify-content: center;
  align-items: center;
}

.selected,
.buttonPaddingWrapper:hover .sectionButtonBorder {
  border: 2px solid rgba(255, 255, 255, 0.95);
}

.ButtonInnerColor {
  background-color: rgba(255, 255, 255, 0.609);
  width: 75%;
  height: 75%;
  border-radius: 2rem;
  display: none;
}

.buttonPaddingWrapper:hover .ButtonInnerColor {
  display: block;
}

.selected .ButtonInnerColor {
  display: block;
  background-color: rgba(255, 255, 255, 0.996);
}

.flex {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.4rem;
  flex-direction: row-reverse;
}

.sectionName {
  margin-right: 0.3vw;
  color: rgba(255, 255, 255, 0.761);
  display: none;
}

.buttonPaddingWrapper:hover + .sectionName {
  display: block;
}

.buttonPaddingWrapper {
  padding: 4px 0;
  background-color: transparent;
  border: none;
  cursor: pointer;

  -moz-user-select: -moz-all;
  -khtml-user-select: all;
  -webkit-user-select: all;
  -ms-user-select: all;
  user-select: all;
  pointer-events: all;
}
