.HomeScroller {
  overflow: hidden;
  width: 100vw;
  /* Height set in js */
  z-index: 0;


  overscroll-behavior: none;
}

.HomeRoot {
  overflow-x: hidden;
  font-weight: 300; 
  font-family: "Nunito Sans", sans-serif;
  z-index: 0;
}

.HomeRoot::-webkit-scrollbar {
  display: none;
  border: none;
}

.HomeRoot::-webkit-scrollbar-thumb {
  display: none;
  border: none;
}

.HomeRoot::-webkit-scrollbar-track {
  display: none;
  border: none;
}
