.navigationRoot {
  position: fixed;
  z-index: 10000;
}

.navigationRootContainer {
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  font-size: 3vw;
  transition: all 0.2s;
}

.TopbarContainer{
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 10vh;
  /* background-color: rgba(0, 0, 0, 0.5); */
  display: flex;
  justify-content: start;
  align-items: center;
  z-index: 10001;
  transition: all 0.4s;
  padding: 0 1vw;
}

.OpenNavButton {
  width: 3vw;
  height: 3vw;
  cursor: pointer;
  transition: all 0.4s;
  background-color: transparent;
  border: 0.15vw solid rgb(255, 255, 255);
  border-radius: 0.2vw;
}

.SettingsIcon{
  width: 100%;
  height: 100%;
  filter: invert(100%);
}

.sidebarContainer {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: start;
  background: linear-gradient(to right, #000000, #00000024)
}

.Title {
  color: white;
  -webkit-text-stroke-width: 0.15vw;
  -webkit-text-stroke-color: rgb(0, 0, 0);
  padding-left: 4vw;
  padding-top: 5vh;
  transition: all 0.4s;
  font-weight: 700;
}

.list {
  display: flex;
  flex-direction: column;
  gap: 2vh;

  color: white;
  transition: all 0.4s;
}

.listItem {
  position: relative;
  display: flex;
  background-color:#11303f68;
  width: 150%;
  white-space: nowrap;
  padding-left: 4vw;
  padding-bottom: 0.3vh;
  cursor: pointer;
  transition: all 0.4s;
  border: 0.15vw solid #71cdf8f1;
  border-left: none;
  justify-content: start;
  align-items: center;
}

.listItem:after{
  content: "";
  position: absolute;
  top: 5%;
  right: 0.2vw;
  width: 0;
  height: 90%;
  border-right: 0.3vw solid #5bb5dff1;
}

.listItem:hover {
  display: inline-block;
  background-color: #5591acd0;
  width: 150%;
  white-space: nowrap;
  padding-left: 4vw;

}

.NavList {
}

.NavItem {
}

.credList {
  padding-bottom: 5vh;
}

.credItem {
}
