@keyframes opacityChange {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.FrameOverlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;

  border: none;
  -moz-user-select: -moz-none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  pointer-events: none;

  -webkit-perspective: 125vh;
  perspective: 125vh;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
}

.overflowHidden {
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 7.5%;
  width: 100%;
  height: 100%;
}

.leftBottom {
  position: absolute;
  bottom: 10%;
  left: -0.5%;
  width: 65%;
  height: 6.2vw;

  color: white;
  border-left: solid 0.3vw rgba(255, 255, 255, 0.85);
  padding-left: 1vw;
  background: linear-gradient(
    to right,
    rgba(0, 0, 0, 0.7),
    rgba(0, 0, 0, 0) 80%
  );

  animation: opacityChange 0.3s ease-in;

  /* transition: transform 0.3s ease-in-out; */
  transform: rotateY(20deg);

  -moz-user-select: -moz-none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  pointer-events: none;
}

.title {
  font-size: 2.5vw;
  font-weight: 600;
  margin-top: 0.2vw;
  white-space: nowrap;
  align-self: flex-end;
}

.desc {
  font-size: 1.25vw;
  font-weight: 400;
}

/* .leftTriangle {
  width: 0;
  height: 0;
  border-top: 0.6vw solid transparent;
  border-bottom: 0.6vw solid transparent;

  border-left: 0.6vw solid rgba(255, 255, 255, 0.85);

  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
} */

.frameLogoCenterer {
  position: absolute;
  bottom: 1%;
  right: 8.5%;
  width: 0;
  height: 12vw;
  transform: translateX(50%);
  display: flex;
  justify-content: center;
  align-items: center;
}

.frameLogo {
  width: 12vw;
  height: auto;

  border: none;
  -moz-user-select: -moz-none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  pointer-events: none;
  z-index: 1;
  animation: opacityChange 0.3s ease-in;
}
