.SelectedViewRoot {
  position: fixed;
  top: 50%;
  left: 26%;
  width: 65vw;
  height: 65vh;

  transform: translateY(-50%);
  /* background-color: rgba(0, 0, 0, 0.607);
  border: white solid 0.2rem; */

  animation: fadeIn 0.3s ease-in;

  -moz-user-select: -moz-none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  pointer-events: none;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translate(-10%, -60%) scale(0.9);
  }

  100% {
    opacity: 1;
    transform: translate(0, -50%) scale(1);
  }
}

.id {
  position: absolute;
  bottom: 4vh;
  left: -1vw;

  color: white;
  margin: 1rem;
  background-color: rgba(35, 255, 255, 0.431);
  width: fit-content;
  height: 2vw;
  display: flex;
  justify-content: center;
  align-items: end;
  z-index: 100;
}

.id span {
  font-size: 4vw;
  transform: translateY(10%);
  padding: 0 2vw;

  display: flex;
  justify-content: center;
  align-items: center;
}

.id h1 {
  font-size: 2vw;
  transform: translateY(10%);
  padding: 0 2vw;
}

.loading {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(0, 0, 0);
  color: white;
  z-index: 100;

  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 6rem;
}

.showcaseGeneral {
  position: absolute;
  object-fit: cover;
  border: solid rgb(0, 32, 72) 0.2rem;
}

.showcaseImage1 {
  top: 3.5%;
  left: 4%;
  width: 52%;
  height: 52%;
  z-index: 3;
}

.showcaseImage2 {
  top: 18%;
  right: 2%;
  width: 45%;
  height: 50%;
  z-index: 2;
}

.showcaseImage3 {
  bottom: 3.5%;
  left: 40%;
  width: 40%;
  height: 42%;
  transform: translateX(-50%);
  z-index: 1;
}

.videoContainer {
  position: absolute;

  bottom: 16%;
  right: 0%;

  width: 45%;
  height: 18%;
  background: linear-gradient(
    to right,
    rgba(0, 0, 0, 0.35) 20%,
    rgba(0, 0, 0, 0.926)
  );

  z-index: 10;

  -moz-user-select: -moz-all;
  -khtml-user-select: all;
  -webkit-user-select: all;
  -ms-user-select: all;
  user-select: all;
  pointer-events: all;

  cursor: pointer;
}

.videoContainer:hover{
  background: linear-gradient(
    to right,
    rgba(0, 0, 0, 0.3) 20%,
    rgba(0, 0, 0, 0.87)
  );
}


.videoContainerRemoveSelect {
  display: flex;
  justify-content: start;
  align-items: center;

  width: 100%;
  height: 100%;

  -moz-user-select: -moz-none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  pointer-events: none;
}

.videoImage {
  height: 85%;
  aspect-ratio: 16/9;
  margin-left: 2%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  display: flex;
  justify-content: center;
  align-items: center;
}

.videoTextContainer {
  display: flex;
  justify-content: center;
  align-items: center;

  margin-left: 1.8vw;
  margin-right: auto;
}

.videoText {
  font-size: 1.8vw;
  color: white;
}

.playVideoIcon {
  filter: invert(1) drop-shadow(0px 0px 0.2vw rgb(0, 0, 0));
}

.playMovieIcon {
  filter: invert(1);
  margin-right: 0.3vw;
}
