.ProfileRoot {
  width: 100%;
  height: 100%;
  border: none;
  position: relative;

  --EducationColor: #111c4cb7;
  --SelfStudyColor: #22a364b7;
  --ExperienceColor: #730039b7;
  --AchievementsColor: #ba9a32b7;
}

.education {
  background-color: var(--EducationColor);
}

.selfStudy {
  background-color: var(--SelfStudyColor);
}

.experience {
  background-color: var(--ExperienceColor);
}

.achievements {
  background-color: var(--AchievementsColor);
}

.UofCItemRoot {
  border: none;
  border: 0.6vw solid white;
  height: 7.5vw;
  width: 7.5vw;

  display: flex;
  justify-content: center;
  align-items: center;

  box-shadow: -0.6vw 0.8vw 0.5vw rgba(0, 0, 0, 0.354);
}

.UofCLogoImage {
  height: 8.5vw;
  width: 8.5vw;
  border: none;
  opacity: 0.95;
  margin: 1.75vw 0 0 1.75vw;

  z-index: 100;

  -moz-user-select: -moz-none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  pointer-events: none;

  filter: drop-shadow(0 0 5px rgb(255, 255, 255));
}

.indicatorCont {
  background-color: rgba(242, 242, 242, 0.548);
  height: 9.9vmax;
  width: 9.9vmax;
  box-shadow: 0 0 4rem rgba(255, 254, 254, 0.31);
}

.OverLapAreaForArtifact {
  position: absolute;
  width: 170vmax;
  height: 170vmax;

  transform: translate(-50%, -50%);

  /* background-color: rgba(47, 47, 47, 0.381); */

  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.rippleEffect {
  position: absolute;

  background: radial-gradient(
    circle at 50%,
    var(--EducationColor),
    var(--EducationColor) 10%,
    #ff000000 75%
  );
  animation: ripple 0.8s ease-in forwards;
  z-index: -1;
}

@keyframes ripple {
  0% {
    width: 0;
    height: 0;
  }
  100% {
    width: 150%;
    height: 150%;
  }
}

.informationContainer {
  position: absolute;
  top: 0;
  left: 26vw;

  width: 125rem;
  height: 100%;

  border: none;
  z-index: 1;

  display: grid;
  grid-template-columns: 55rem 1fr;
  grid-template-rows: 45% 1fr;
  justify-content: start;
  align-items: end;

  color: white;

  animation: animSlow 1.5s forwards linear;
}

@keyframes animSlow {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.errorMessage {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  color: white;
  font-size: 2vw;
  z-index: 1;

  display: flex;
  justify-content: center;
  align-items: center;
  animation: animSlow 1.5s forwards linear;
}

.mainTextContainer {
  position: relative;
  margin-bottom: 15%;
  background-color: rgba(229, 229, 229, 0.24);

  height: 6rem;

  border: none;

  display: flex;
  justify-content: start;
  align-items: center;

  color: white;
}

.title {
  position: absolute;
  bottom: 110%;
  left: 1vw;

  font-size: 2.2vw;
}

.subTitle {
  font-size: 1.2vw;
  white-space: nowrap;
  padding-left: 1vw;
}

.date {
  position: absolute;
  bottom: -0.6vw;
  right: 0.2vw;

  font-size: 1vw;
  line-height: 1;
  white-space: nowrap;
}

.NavListContainer {
  align-self: start;

  border: none;

  color: white;

  display: flex;
  flex-direction: column;

  padding-left: 5%;

  -moz-user-select: -moz-none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.NavListItem {
  font-size: 2rem;
  position: relative;
  transition: all 0.15s;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;

  cursor: pointer;
}

.NavListItem:hover {
  background: linear-gradient(
    90deg,
    rgba(255, 255, 255, 0.25) 0%,
    rgba(255, 255, 255, 0.25) 40%,
    rgba(255, 255, 255, 0) 100%
  );
}

.NavListItem:after {
  content: "";
  width: 0;
  height: 0;
  border-top: 1.25vh solid transparent;
  border-bottom: 1.25vh solid transparent;

  border-left: 1.25vh solid rgb(255, 255, 255);

  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  opacity: 0;
}

/* .NavListItem:hover:after {
  opacity: 1;
} */

.selected {
  background: linear-gradient(
    90deg,
    rgba(255, 255, 255, 0.2) 0%,
    rgba(255, 255, 255, 0.1) 40%,
    rgba(255, 255, 255, 0) 100%
  );
}

.selected.NavListItem:after {
  opacity: 1;
}

.selected.NavListItem {
  padding-left: 2vh;
}

.contentBox {
  margin-left: 5rem;
  align-self: center;
  grid-row: 1/3;
  grid-column: 2/3;
}

.dragIndicator {
  position: absolute;
  top: 0;
  left: 0;
  height: 5px;

  margin-left: 0vw;

  display: flex;
  justify-content: center;
  align-items: center;

  z-index: 1000;

  -moz-user-select: -moz-none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  pointer-events: none;

  transform-origin: left;

  animation: animSlow 1s forwards linear;
}

.glowCont {
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
  width: 100%;
  height: 100%;

  -webkit-mask-image: linear-gradient(
    90deg,
    rgba(0, 0, 0, 0) 0%,
    rgba(0, 0, 0, 1) 50%,
    rgba(0, 0, 0, 0) 100%
  );
  -webkit-mask-size: 100% 100%;
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-position: left top, left bottom;
}

.glow {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 40%;

  background: linear-gradient(
    90deg,
    rgba(255, 255, 255, 0) 0%,
    rgba(255, 255, 255, 0.728) 50%,
    rgba(255, 255, 255, 0) 100%
  );

  animation: silk 2s infinite linear;
  /* filter: blur(2px) brightness(1.2); */
  opacity: 0;
}

@keyframes silk {
  0% {
    opacity: 1;
    left: 100%;
  }
  100% {
    opacity: 1;
    left: -40%;
  }
}

.MouseImage {
  position: absolute;
  top: 0;
  left: 0;
  height: 5vh;
  width: auto;
  transform: translateY(-20%);
  filter: invert(1);

  animation: mouse 3s infinite ease-in-out;
}

@keyframes mouse {
  0% {
    left: 110%;
    opacity: 0;
  }
  15% {
    opacity: 0;
  }
  25% {
    opacity: 1;
  }
  75% {
    opacity: 1;
  }
  85% {
    opacity: 1;
  }
  100% {
    left: 0%;
    opacity: 0;
  }
}

.artifactsContainer {
  position: absolute;
  top: 55%;
  right: 15vw;

  width: 30vw;
  height: 50vh;

  transform: translateY(-50%);

  /* background-color: rgba(255, 255, 255, 0.249); */
  animation: animSlow 0.5s forwards linear;
  column-gap: 3vw;
  row-gap: 10vh;

  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  align-items: end;

  -moz-user-select: -moz-none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  pointer-events: none;
}

.artifactTextCont {
  position: relative;
  height: 1.5vw;
  width: 100%;
}

.pos {
  position: absolute;
  bottom: 35%;
  left: 0.6vw;
  gap: 0.6vw;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Blender Pro";
}

.artifactsNum {
  font-size: 2.25vw;
  line-height: 1;
  color: white;
}

.artifactsText {
  font-size: 1.75vw;
  line-height: 1;
  color: white;

  -moz-user-select: -moz-none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  pointer-events: none;
}

.dragText {
  position: absolute;
  top: -10%;
  left: 0;
  width: 100%;

  font-size: 1.5vw;
  color: white;
  text-align: center;
}
