.ProfileRoot {
  width: 100%;
  height: 100%;
  border: none;
  position: relative;
}

.UofCItemRoot {
  border: none;
}

.UofCLogoImage {
  height: 10vmax;
  width: auto;
  border: none;
  opacity: 0.95;
}

.indicatorCont {
  background-color: rgba(242, 242, 242, 0.548);
  height: 9.9vmax;
  width: 9.9vmax;
  box-shadow: 0 0 4rem rgba(255, 254, 254, 0.31);
}

.OverLapAreaForArtifact {
  position: absolute;
  width: 170vmax;
  height: 170vmax;

  transform: translate(-50%, -50%);

  /* background-color: rgba(47, 47, 47, 0.381); */

  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.rippleEffect {
  position: absolute;
  --Color: #0023a092;

  background: radial-gradient(
    circle at 50%,
    var(--Color),
    var(--Color) 10%,
    #ff000000 75%
  );
  animation: ripple 1s ease-in forwards;
  z-index: -1;
}

@keyframes ripple {
  0% {
    width: 0;
    height: 0;
  }
  100% {
    width: 100%;
    height: 100%;
  }
}
