/* RESET */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  /* -moz-user-select: -moz-none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none; */
}

ul {
  list-style: none;
  list-style-type: none;
}

/** GENERAL **/
html {
  font-size: 62.5%;
  /* 1 rem = 10px on normal settings */
  color: #1c1e21;
  direction: ltr;
  line-height: 1.34;
  height: -webkit-fill-available;
  overscroll-behavior: none;
}

img {
  -moz-user-select: -moz-none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  pointer-events: none;
}

body {
  overflow: overlay;

  margin: 0;
  font-family: "Nunito Sans", "Segoe UI", "Roboto", "Oxygen", "Ubuntu",
    "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  height: -webkit-fill-available;
  overscroll-behavior: none;
}

code {
  font-family: source-code-pro, Menlo, Monaco, /Fonts/Consolas/Consolas,
    "Courier New", monospace;
}

body::-webkit-scrollbar {
  display: none;
  border: none;
}

body::-webkit-scrollbar-thumb {
  display: none;
  border: none;
}

body::-webkit-scrollbar-track {
  display: none;
  border: none;
}

/** GLOBAL **/
.NoUserSelect {
  -moz-user-select: -moz-none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  pointer-events: none;
}

.forceUserSelect {
  -moz-user-select: -moz-all !important;
  -khtml-user-select: all !important;
  -webkit-user-select: all !important;
  -ms-user-select: all !important;
  user-select: all !important;
  pointer-events: all !important;
}

/* FONTS */

@font-face {
  font-family: "Blender Pro";
  src: url("/Fonts/BlenderPro/BlenderPro-Medium.eot");
  src: local("Blender Pro Medium"), local("BlenderPro-Medium"),
    url("/Fonts/BlenderPro/BlenderPro-Medium.eot?#iefix")
      format("embedded-opentype"),
    url("/Fonts/BlenderPro/BlenderPro-Medium.woff2") format("woff2"),
    url("/Fonts/BlenderPro/BlenderPro-Medium.woff") format("woff"),
    url("/Fonts/BlenderPro/BlenderPro-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Blender Pro";
  src: url("/Fonts/BlenderPro/BlenderPro-ThinItalic.eot");
  src: local("Blender Pro Thin Italic"), local("BlenderPro-ThinItalic"),
    url("/Fonts/BlenderPro/BlenderPro-ThinItalic.eot?#iefix")
      format("embedded-opentype"),
    url("/Fonts/BlenderPro/BlenderPro-ThinItalic.woff2") format("woff2"),
    url("/Fonts/BlenderPro/BlenderPro-ThinItalic.woff") format("woff"),
    url("/Fonts/BlenderPro/BlenderPro-ThinItalic.ttf") format("truetype");
  font-weight: 100;
  font-style: italic;
}

@font-face {
  font-family: "Blender Pro";
  src: url("/Fonts/BlenderPro/BlenderPro-Heavy.eot");
  src: local("Blender Pro Heavy"), local("BlenderPro-Heavy"),
    url("/Fonts/BlenderPro/BlenderPro-Heavy.eot?#iefix")
      format("embedded-opentype"),
    url("/Fonts/BlenderPro/BlenderPro-Heavy.woff2") format("woff2"),
    url("/Fonts/BlenderPro/BlenderPro-Heavy.woff") format("woff"),
    url("/Fonts/BlenderPro/BlenderPro-Heavy.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: "Blender Pro Book";
  src: url("/Fonts/BlenderPro/BlenderPro-BookItalic.eot");
  src: local("Blender Pro Book Italic"), local("BlenderPro-BookItalic"),
    url("/Fonts/BlenderPro/BlenderPro-BookItalic.eot?#iefix")
      format("embedded-opentype"),
    url("/Fonts/BlenderPro/BlenderPro-BookItalic.woff2") format("woff2"),
    url("/Fonts/BlenderPro/BlenderPro-BookItalic.woff") format("woff"),
    url("/Fonts/BlenderPro/BlenderPro-BookItalic.ttf") format("truetype");
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: "Blender Pro Book";
  src: url("/Fonts/BlenderPro/BlenderPro-Book.eot");
  src: local("Blender Pro Book"), local("BlenderPro-Book"),
    url("/Fonts/BlenderPro/BlenderPro-Book.eot?#iefix")
      format("embedded-opentype"),
    url("/Fonts/BlenderPro/BlenderPro-Book.woff2") format("woff2"),
    url("/Fonts/BlenderPro/BlenderPro-Book.woff") format("woff"),
    url("/Fonts/BlenderPro/BlenderPro-Book.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Blender Pro";
  src: url("/Fonts/BlenderPro/BlenderPro-Bold.eot");
  src: local("Blender Pro Bold"), local("BlenderPro-Bold"),
    url("/Fonts/BlenderPro/BlenderPro-Bold.eot?#iefix")
      format("embedded-opentype"),
    url("/Fonts/BlenderPro/BlenderPro-Bold.woff2") format("woff2"),
    url("/Fonts/BlenderPro/BlenderPro-Bold.woff") format("woff"),
    url("/Fonts/BlenderPro/BlenderPro-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Blender Pro";
  src: url("/Fonts/BlenderPro/BlenderPro-Thin.eot");
  src: local("Blender Pro Thin"), local("BlenderPro-Thin"),
    url("/Fonts/BlenderPro/BlenderPro-Thin.eot?#iefix")
      format("embedded-opentype"),
    url("/Fonts/BlenderPro/BlenderPro-Thin.woff2") format("woff2"),
    url("/Fonts/BlenderPro/BlenderPro-Thin.woff") format("woff"),
    url("/Fonts/BlenderPro/BlenderPro-Thin.ttf") format("truetype");
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: "Blender Pro";
  src: url("/Fonts/BlenderPro/BlenderPro-MediumItalic.eot");
  src: local("Blender Pro Medium Italic"), local("BlenderPro-MediumItalic"),
    url("/Fonts/BlenderPro/BlenderPro-MediumItalic.eot?#iefix")
      format("embedded-opentype"),
    url("/Fonts/BlenderPro/BlenderPro-MediumItalic.woff2") format("woff2"),
    url("/Fonts/BlenderPro/BlenderPro-MediumItalic.woff") format("woff"),
    url("/Fonts/BlenderPro/BlenderPro-MediumItalic.ttf") format("truetype");
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: "Blender Pro";
  src: url("/Fonts/BlenderPro/BlenderPro-BoldItalic.eot");
  src: local("Blender Pro Bold Italic"), local("BlenderPro-BoldItalic"),
    url("/Fonts/BlenderPro/BlenderPro-BoldItalic.eot?#iefix")
      format("embedded-opentype"),
    url("/Fonts/BlenderPro/BlenderPro-BoldItalic.woff2") format("woff2"),
    url("/Fonts/BlenderPro/BlenderPro-BoldItalic.woff") format("woff"),
    url("/Fonts/BlenderPro/BlenderPro-BoldItalic.ttf") format("truetype");
  font-weight: bold;
  font-style: italic;
}

/* CONSOLAS */

@font-face {
  font-family: "Consolas";
  src: url("/Fonts/Consolas/Consolas.eot");
  src: local("/Fonts/Consolas/Consolas"),
    url("/Fonts/Consolas/Consolas.eot?#iefix") format("embedded-opentype"),
    url("/Fonts/Consolas/Consolas.woff2") format("woff2"),
    url("/Fonts/Consolas/Consolas.woff") format("woff"),
    url("/Fonts/Consolas/Consolas.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Consolas";
  src: url("/Fonts/Consolas/Consolas-Italic.eot");
  src: local("/Fonts/Consolas/Consolas Italic"),
    local("/Fonts/Consolas/Consolas-Italic"),
    url("/Fonts/Consolas/Consolas-Italic.eot?#iefix")
      format("embedded-opentype"),
    url("/Fonts/Consolas/Consolas-Italic.woff2") format("woff2"),
    url("/Fonts/Consolas/Consolas-Italic.woff") format("woff"),
    url("/Fonts/Consolas/Consolas-Italic.ttf") format("truetype");
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: "Consolas";
  src: url("/Fonts/Consolas/Consolas-BoldItalic.eot");
  src: local("/Fonts/Consolas/Consolas Bold Italic"),
    local("/Fonts/Consolas/Consolas-BoldItalic"),
    url("/Fonts/Consolas/Consolas-BoldItalic.eot?#iefix")
      format("embedded-opentype"),
    url("/Fonts/Consolas/Consolas-BoldItalic.woff2") format("woff2"),
    url("/Fonts/Consolas/Consolas-BoldItalic.woff") format("woff"),
    url("/Fonts/Consolas/Consolas-BoldItalic.ttf") format("truetype");
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: "Consolas";
  src: url("/Fonts/Consolas/Consolas-Bold.eot");
  src: local("/Fonts/Consolas/Consolas Bold"),
    local("/Fonts/Consolas/Consolas-Bold"),
    url("/Fonts/Consolas/Consolas-Bold.eot?#iefix") format("embedded-opentype"),
    url("/Fonts/Consolas/Consolas-Bold.woff2") format("woff2"),
    url("/Fonts/Consolas/Consolas-Bold.woff") format("woff"),
    url("/Fonts/Consolas/Consolas-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}
