.DraggableContainer {
  position: absolute;
  top: 15%;
  left: 12.5%;
  width: fit-content;
  height: fit-content;

  border: none;
  cursor: move;
  cursor: grab;
  cursor: -moz-grab;
  cursor: -webkit-grab;
}
