.SoundSetting {
  position: absolute;
  /* 
  Declared in respective files
  top: 6.5rem;
  left: 7rem; */
  z-index: 100;

  /* transition: top 0.3s ease-in-out, left 0.3s ease-in-out; */

  -moz-user-select: -moz-none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  pointer-events: none;
}

.SoundButton {
  width: 5rem;
  height: 5rem;
  border: none;
  cursor: pointer;
  background: none;

  -moz-user-select: -moz-all;
  -khtml-user-select: all;
  -webkit-user-select: all;
  -ms-user-select: all;
  user-select: all;
  pointer-events: all;
}

.SoundIcon {
  width: 5rem;
  height: 5rem;
  filter: invert(100%) drop-shadow(0 0 1rem rgb(24, 24, 24));
  -moz-user-select: -moz-none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  pointer-events: none;
}

.SoundSliderCont {
  display: flex;

  position: absolute;
  top: 0;
  right: 0;
  transform: translateX(100%);
  justify-content: center;
  align-items: center;
  height: 100%;
  padding-left: 1rem;
}

.amount {
  color: white;
  font-size: 2rem;
  padding-left: 1rem;

  -moz-user-select: -moz-none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  pointer-events: none;
}

.input {
  height: 15px;
  width: 6vw;
  background-color: aliceblue;

  -moz-user-select: -moz-all;
  -khtml-user-select: all;
  -webkit-user-select: all;
  -ms-user-select: all;
  user-select: all;
  pointer-events: all;

  -webkit-appearance: none;
  appearance: none;
  background: #d3d3d381;
  outline: none;
  border-radius: 18px;
}

.input::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 18px;
  height: 18px;
  border-radius: 100%;
  background: #ffffffc2;
  cursor: pointer;
}

.input::-moz-range-thumb {
  width: 18px;
  height: 18px;
  border-radius: 100%;
  background: #ffffffc2;
  cursor: pointer;
}
